<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://lumiere.app/tv"
        version="1.0.0">

  <tizen:application id="lumiereapp.Lumiere"
                     package="lumiereapp"
                     required_version="3.0"/>

  <tizen:profile name="tv"/>

  <name>Lumiere</name>
  <description>Медиацентр</description>

  <icon src="icon.png"/>

  <content src="index.html"/>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>

  <access origin="*" subdomains="true"/>

  <tizen:setting pointing-device-support="disable" screen-orientation="landscape" hwkey-event="enable"/>

</widget>
